.container{
    padding: 20px 20px;
    margin-left:auto;
    margin-right:auto;
    max-width: 1200px;
    main & {
        background: $background;
    }
}
.button-flex{
    display:flex;
    flex-direction: row;
    justify-content: center;
    padding: 10px 0px;
}
.bottom-pad{
    padding-bottom: 120px;
}
/* Row */
.row {
    margin-right: (-$margin-gutter);
    margin-left: (-$margin-gutter);
  }
  /* Row Clear Float*/
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

[class*= 'col-' ]{
    width: 100%;
    padding-left: ($margin-gutter) / 2;
    padding-right: ($margin-gutter) / 2;
    @include medium-and-above{
        display: inline-block;
        align:center;
        padding-left: ($margin-gutter);
        padding-right: ($margin-gutter);
    }
}
.col-1-5{
    width:(100% / 5);
}
@include medium-and-above{
    .col-1-3{
        width: (100% / 3);
    }
}




