
// change everything to border-box
html{
    box-sizing:border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
  }

//   Base Styles

body{
    color:$text-color;
    background: $background;
    font-family: 'Lato', sans-serif;
    font-weight: normal;
}

h1, h2, h3, a {
    font-weight: bold;
  }

  a:hover {
    text-decoration: underline;
  }