
html { 
  @include set-bg-image( $background-image );
   background: $background;
  }

// change everything to border-box
html{
    box-sizing:border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
  }

//   Base Styles

body{
    color:$text-color;
    font-family: 'Noto Sans', sans-serif;
    font-weight: normal;
    min-height: 100%;
}

h1, h2, h3, a {
    font-weight: bold;
  }

  a:hover {
    text-decoration: underline;
  }