$light-grey: #F2F2F2 !default;
$medium-grey: #E8E5E5 !default;
$dark-grey: #4A484C !default;
$pink: #BA6A74 !default;
$grey: #D3C4D6 !default;
$transparent-black: rgba(0,0,0,0.6) !default; 
$purple-grey: #7D7D7D;
$pink-transp: rgba(186, 106, 115, 0.151);
$dark-pink: rgb(155, 88, 96);

$text-color: $light-grey !default;
$background: $light-grey !default;
$background-image: url("../images/bg.jpeg");

$widget-back: $transparent-black !default;
$timer-change-button : $light-grey !default;
$button-greyed : $grey !default;
$modal-background: $transparent-black !default;
$modal-content: $light-grey;
$modal-text:$pink;
$body-text: $dark-grey;
$nav-text: $dark-grey;
$html-back: $medium-grey;
$dark-text: $pink;
$dark-back : $pink;
$highlight-color: $pink;
$highlight-color-transp: $pink-transp;
$darken-highlight: $dark-pink;

$break-1 : 48em !default;
$gutter: 20px;
$margin-gutter : ($gutter / 2);