$light-grey: #FBFBFB !default;
$blue: #5DA6BF !default;
$dark-grey: #505a5b !default;

$text-color: $dark-grey !default;
$background: $blue !default;
$widget-back: $light-grey !default;


$break-1 : 48em !default;
$gutter: 20px;
$margin-gutter : ($gutter / 2);