$light-grey: #FBFBFB !default;
$purple-tra: #5DA6BF55 !default;
$blue: #5DA6BF !default;
$dark-grey: #242325 !default;
$pink : #E5766E !default;
$purple: #8A6686 !default;

$text-color: $light-grey !default;
$background: $light-grey !default;
$background-image: url("../images/bg.jpeg");
$widget-back: $purple !default;
$timer-change-button : $widget-back;


$break-1 : 48em !default;
$gutter: 20px;
$margin-gutter : ($gutter / 2);