.btn{
    
    display:inline-block;
    text-align:center;
    vertical-align:middle;
    white-space: nowrap;
    padding: 10px;
    font-size: 1.2em;
    font-weight:bold;
    border-radius:4px;
    &:focus{
        outline:0;
    }
    &:not(:disabled){
        cursor: pointer;
    }
}

.btn-light{   
    background: none;
    color: $text-color;
    border: 2px solid $text-color;
}
.btn-dark{   
    background: none;
    color: $dark-text;
    border: 2px solid  $dark-text;
}
.btn-greyed{
    opacity: .5;
    cursor: default;
}

.btn-control{
    margin-left:auto;
    margin-right:auto;
    width: 80%;
    margin-bottom: 10px;
    @include medium-and-above {
        width: 100%;
        
    }
}
.btn-second{
    margin-left:5px;
    margin-right:5px;
    width: 100%;
    white-space: normal;
    
}

.btn-tab{
    background: none;
    color: $dark-text;
    border:none;
    text-align:right;
    &:hover{
        background:$dark-text;
        color:$text-color;
    }
}

.btn-tab-select{
    background:$dark-text;
    color:$text-color;
}

.btn-hidden{
    display:none;
}