.btn{
    display:inline-block;
    text-align:center;
    vertical-align:middle;
    white-space: nowrap;
    cursor: pointer;
    padding: 10px;
    font-size: 1.2em;
    font-weight:bold;
    border-radius:4px;

    background: none;
    border: 2px;
    color: $text-color;
    width: 100%;
    border: 2px solid $text-color;
}

.btn-control{
    margin-left:auto;
    margin-right:auto;
}

// .btn-nav{
//     // color here
// }