form{
    text-align:left;
}
input{
    width:100%;
    // display:block;
&[type = number],&[type = text]{
    padding: 15px 10px;
    margin: 2px 0;
    @include medium-and-above{
        padding: 15px 20px;
       
    } 
    }
 &[type = checkbox] {
     display:inline-block;
     width:auto;
 }  
&[type = range]{
    &:focus{
        outline:none;
        background: $highlight-color-transp;
    }
}
}

select{
    width:100%;
    // display:block;
    padding: 15px 20px;
    margin: 8px 0;
    @include medium-and-above{
    width:50%;
    }
}
.form-settings{
    width: 70%;
    display:inline-block;
}

legend{
    font-weight: bold;
    font-size: 1.1em;
    margin-left: 20px;
    padding: 0px 10px;
}
fieldset{
    margin: 0px 0px 20px 0px;
}