.nav{
    
    margin: 20px 0px;
    width:100% !important;

    text-align:center;
    li{
        display:inline-block;
        
    }
    @include medium-and-above{
        text-align: right;
        
    }
}

.nav > ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
    color: $text-color;
  }

  .nav > ul > li a, .nav > ul > li a:visited{
    color: $nav-text;
    text-decoration:none;
  }
  .nav > ul > li a:hover, 
  .nav > ul > li a:focus{
      text-decoration:underline;
  }