// 
// 
//   Nav Bar
// 
// 
// 
.nav{
    
   
    margin: 20px 0px;
    width:100%;

    text-align:center;
    li{
        display:inline-block;
        
    }
    
}

.nav > ul > li {
    flex: 1 1 100px;
    max-width: 100px;
}
.nav > ul {
    list-style: none;
    margin: 0px auto;
    max-width: 1200px;
    display:flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 20px 0px;
  }

  .nav > ul > li a, .nav > ul > li a:visited{
    color: $nav-text;
    text-decoration:none;
  }
  .nav > ul > li a:hover, 
  .nav > ul > li a:focus{
  color: $highlight-color;
  outline: none;
  }

// 
// 
//   Sticky Nav Bar
// 
// 
// 
.sticky{
    background:$html-back;
    margin: 0px 0px;
    position: fixed;
    top:0;
    width:100%;
}

.sticky + main{
    padding-top: 128px;
}
.sticky nav{
    margin:0px;
    & > ul {
        padding: 10px 0px;
    }
    
}
