// 
// 
//   Table
// 
// 
// 
thead,tbody,tr{
    width:100%;
}

table,th,td{
    border: 1px solid $highlight-color-transp;
}
table{
    border-collapse: collapse;
    table-layout:fixed;
    width:80%;
    margin:auto;
}

th{
    background: $highlight-color-transp;
    padding: 10px 0px;
}
td{
    padding: 5px 0px;
}
// make a column size half the table
.table-half{
    width:(100% / 2);
}