// 
// 
//   Widgets
// 
// 
// 
.widget{
    
    text-align:center;
    padding:10px 0px;
}

.widget-title{
    font-family: 'Roboto Mono', monospace;
}
.about{
    text-align: left;
    padding: 0px 50px;
}

// 
// 
//   Colors
// 
// 
// 
.widget-light{
    color: $body-text;
}

.widget-dark{
    background: $dark-back;
    padding: 20px;
    @include medium-and-above{
        padding: 50px;
    }
   
}


