.widget{
    
    text-align:center;
    padding:10px 0px;
}

#timerWidget{
    background-color: $widget-back;
    background-image: $background-image;
    background-repeat: no-repeat;
    // background-attachment: fixed;
    background-position: center;
    background-size: auto;
}

.widget-title{
    font-family: 'Roboto Mono', monospace;
}

.widget-light{
    color: $body-text;
}