.widget{
    
    text-align:center;
    padding:10px 0px;
}

.widget-title{
    font-family: 'Roboto Mono', monospace;
}

.widget-light{
    color: $body-text;
}
.widget-dark{
    background: $dark-back;
    border-radius:5px;
    font-size: 1.2em;
   
}
.about{
    text-align: left;
    padding: 0px 50px;
}

.darken-back{
    background: $dark-back;
    padding: 20px;
    @include medium-and-above{
        padding: 50px;
    }
   
}